@font-face {
  font-family: 'Butler';
  font-weight: normal;
  src: url("/client/public/fonts/Butler.woff");
}

@font-face {
  font-family: 'Butler Medium';
  font-weight: 500;
  src: url("/client/public/fonts/Butler-Medium.woff");
}

@font-face {
  font-family: 'Butler Black';
  font-weight: 900;
  src: url("/client/public/fonts/Butler-Black.woff");
}

@font-face {
  font-family: 'Butler Bold';
  font-weight: 700;
  src: url("/client/public/fonts/Butler-ExtraBold.woff");
}

/* HK Grotesk */
@font-face {
  font-family: "HK Grotesk";
  font-weight: 400;
  src: url("/client/public/fonts/HKGrotesk-Regular.woff");
}

@font-face {
  font-family: "HK Grotesk Medium";
  font-weight: 500;
  src: url("/client/public/fonts/HKGrotesk-Medium.woff");
}

@font-face {
  font-family: "HK Grotesk Bold";
  font-weight: 900;
  src: url("/client/public/fonts/HKGrotesk-Bold.woff");
}
