@import "_fonts.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Butler", sans-serif;
}

.container {
  max-width: 80%;
  padding: 0px 10px;
  margin: 0 auto;
}
