*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.sidebar {
  background-color: #10069f;
  width: 10px;
  height: 80%;
}

.container {
  max-width: 80%;
  padding: 0px 10px;
  margin: 0 auto;
}
