*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Butler';
  font-style: normal;
<<<<<<< HEAD
=======
}
>>>>>>> 71a8010ac065e8b87ba0003321357b576b29e0b9

body {
}

.sidebarContainer {
  min-width:5%;
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar {
  background-color: #10069f;
  min-width: 10px;
  min-height: 80vh;
  display: block;
}

.letter {
  color: #10069f;
}

.container {
  min-width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
  height:100%;
}
