@import "fonts.scss"; // All the custom fonts are there

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Butler", sans-serif;
}

.sidebarContainer {
  margin-left: 15px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar {
  background-color: #10069f;
  min-width: 10px;
  min-height: 80vh;
  display: block;
}

.letter {
  color: #10069f;
}

.container {
  min-width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
  height:100%;
}
