@import "_fonts.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Butler';
  font-style: normal;
}
body {
  font-size: 62.5%;
  font-family: "Butler", sans-serif;
}

.sidebarContainer {
  margin-left: 40px;
  margin-top: 40px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: #10069f;
  min-width: 10px;
  min-height: 3000px;
  display: block;
}

.letter {
  color: #10069f;
  font-size: 64px;
}

.container {
  max-width: 80%;
  padding: 0px 10px;
  margin: 0 auto;
}
