
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}

.sidebar {
  background-color: #10069F;
  width: 10px;
  height: 80%;

}

.container {
min-height: 100%;
max-width: 100%;
}
