
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}

.sidebar {
  background-color: #10069F;
  width: 100px;
  height: inherit;

}

.container {
min-height: 100vh;
max-height: 100%;
max-width: 100%;
}
